  /*@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Oleo+Script&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Oleo+Script&family=Quintessential&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Oleo+Script&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300&family=Marck+Script&family=Oleo+Script&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Upright:wght@300&family=Marck+Script&family=Oleo+Script&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Upright:wght@300&family=Marck+Script&family=Oleo+Script&family=PT+Serif&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Arvo&family=Cinzel&family=Cormorant+Upright:wght@300&family=Marck+Script&family=Oleo+Script&family=PT+Serif&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Oleo+Script&family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300&family=Marck+Script&family=Oleo+Script&display=swap');



h2{
    text-align:left;
    font-size: 40px;
    font-weight: 600;
    font-family:'PT Serif',sans-serif;
    padding-left:4%;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 300%;
    animation:gradient;
}
h2:hover{
    color: saddlebrown;
}
h3{
    font-size: 35px;
    font-weight:bold;
    font-family:'PT serif'sans-serif,'cursive';
    color:white;
    padding-left: 5%;
}

b{
    color:#f30c09;
}
.title{
    font-family: poppins;
    font-size: 45px;
    font-weight: 800;
    margin-top:-65px;
    text-align: center;
    background: linear-gradient(to right, #121FCF 14%, #CF1512 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 300%;
    animation:gradient;
}
p{
    text-align: justify;
    margin-left: 3%;
    padding-right: 2%;
    font-size: 28px;
    line-height: 35px;
    font-family:'Cormorant Upright',cursive;
    font-weight:bold;
    color:black;
    padding-left:0%;

}
.lead{
    text-align: justify;
    font-size: 30px;
    margin-left:3%;
    font-weight: 700;
    font-family:'Cormorant Upright',cursive;
    line-height: 2.0;
    padding-top:5px;
    letter-spacing:0px;
    word-spacing:0px;
}
@keyframes slide{
    0%{transform:translate(0);}
    50%{transform: translate(100px);}
    100%{transform: translate(0);}
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #dbadad; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-family: Gotham;
    color: #030303;
    display: block;
    transition: 0.3s
  }
  
  .sidenav a:hover, .offcanvas a:focus{
    color: #b44141;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
.skillimg{
    text-align: center;
   
    font-size: 28px;
    font-family:'Cormorant Upright',cursive;
    font-weight:bold;
    color:black;
}
.custom-img{
    max-width:950px;
    max-height: 500px;
    padding-top: 50px;
    filter: grayscale(.3);
    transition: .3s;
}
.custom-img:hover{
    filter:grayscale(0);
    transform: scale(1.1) rotate(0deg);
}
h1{
    text-align: center;
    font-size: 40px;
    color:#021f55;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600; 
    padding-top: 10px;
    position: relative;
    cursor: pointer;
}
h1::after{
    content: "";
    position: absolute;
    bottom: -5px;
    height: 4px;
    width:100%;
    left:0px;
    background-color:#0e1d3b;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
}
h1:hover::after{
    transform: scaleX(1);
}
.lidin{
    max-width: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
h5{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-align: center;

}
.container1{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    margin-top: 40px;
}
.item{
    flex: 1;
    margin: 10px;
    border-radius: 01%;
    max-width: 260px;
    align-items:start;
    background-color:rgb(170, 224, 188);
    border:#a30e88;
    box-shadow: 0px 0px 25px black;
}
p{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 600;
    margin-left: 5px;
    margin-right:5px;
    text-align: justify;
    color:#030303;
}
.projimg{
    width: 230px;
    height:210px;
    padding-left: 25px;
    padding-top: 5px;
    filter: grayscale(.3);
    transition: .3s;
}
.projimg:hover{
    filter:grayscale(0);
    transform: scale(1.1) rotate(0deg);
}
h4{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    color:#021f55;
}
.newcontainer{
    display:flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}
.box{
    text-align:center;
    margin-top:5px;
    font-weight: 800;
    color:#dd1c1c;
    font-family: cursive;
    transition: .3s;
   /* animation: slide 3s linear infinite;*/
}

.box:hover{
    filter:grayscale(0);
    transform: scale(1.1) rotate(0deg);
}


@media (max-width : 767px){
    .title{
        font-family: poppins;
    font-size: 35px;
    font-weight: 800;
    margin-top:-85px;
    text-align: center;
    background: linear-gradient(to right, #121FCF 14%, #CF1512 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 300%;
    animation:gradient;
    }
}